@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  --base: 1rem;
  /* SPACING SIZES 1.26, 1.875, 2.25, 2.5. 2.8125*/
  --sizer-1: calc((var(--base) * 1.26));
  --sizer-2: calc((var(--base) * 1.875));
  --sizer-3: calc((var(--base) * 2.25));
  --sizer-4: calc((var(--base) * 2.5));
  --sizer-5: calc((var(--base) * 2.8125));
  /* FONT SIZES */
  --fs-1: calc((var(--base) * 0.8));
  --fs-2: ((--base));
  --fs-3: calc((var(--base) * 1.75));
  --fs-4: calc((var(--base) * 2.25));
  /* COLORS */
  --bkg: hsl(25, 100%, 99%);
  --accent: hsl(26, 100%, 55%);
  --accent-semi-transparent: hsl(26, 100%, 55%, 0.4);
  --accent-pale: hsl(25, 100%, 94%);
  --text: hsl(25, 100%, 3%);
  --text-opacity: hsl(25, 100%, 3%, 0.75);
  --alt-bkg: hsl(220, 13%, 13%);
  --alt-bkg1: hsl(219, 9%, 45%);
  --alt-bkg2: hsl(220, 14%, 75%);
  --alt-bkg3: hsl(223, 64%, 98%);
  /* MISC */
  --radius: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)

  */
body {
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.6rem;
  font-variation-settings: "YOPQ" 300;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  margin-top: 2.4rem;
  border-radius: 4px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

svg {
  pointer-events: none;
}

.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: bold;
}

h1, .h1 {
  line-height: 1.1;
}

h2, .h2 {
  line-height: 1.1;
}

.sizer-1 {
  font-size: var(--sizer-1);
}

.sizer-2 {
  font-size: var(--sizer-2);
}

.sizer-3 {
  font-size: var(--sizer-3);
}

.sizer-4 {
  font-size: var(--sizer-4);
}

.sizer-5 {
  font-size: var(--sizer-5);
}

.gap-base {
  gap: var(--base);
}

.gap-1 {
  gap: var(--sizer-1);
}

.gap-2 {
  gap: var(--sizer-2);
}

.gap-3 {
  gap: var(--sizer-3);
}

.gap-4 {
  gap: var(--sizer-4);
}

.gap-5 {
  gap: var(--sizer-5);
}

.bg-bkg {
  background-color: var(--bkg);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-accent-pale {
  background-color: var(--accent-pale);
}

.bg-text {
  background-color: var(--text);
}

.bg-text-opacity {
  background-color: var(--text-opacity);
}

.bg-alt-bkg {
  background-color: var(--alt-bkg);
}

.bg-alt-bkg1 {
  background-color: var(--alt-bkg1);
}

.bg-alt-bkg2 {
  background-color: var(--alt-bkg2);
}

.bg-alt-bkg3 {
  background-color: var(--alt-bkg3);
}

.bkg {
  color: var(--bkg);
}

.accent {
  color: var(--accent);
}

.accent-pale {
  color: var(--accent-pale);
}

.text {
  color: var(--text);
}

.text-opacity {
  color: var(--text-opacity);
}

.alt-bkg {
  color: var(--alt-bkg);
}

.alt-bkg1 {
  color: var(--alt-bkg1);
}

.alt-bkg2 {
  color: var(--alt-bkg2);
}

.alt-bkg3 {
  color: var(--alt-bkg3);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.align-item {
  align-items: center;
}

.rounded {
  border-radius: var(--radius);
}

.attribution {
  margin: 1.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-dark-charcoal);
}
.attribution__credit {
  font-weight: 800;
  color: var(--color-dark-raspberry) !important;
}
.attribution a {
  cursor: pointer;
}

.product {
  padding: var(--sizer-1);
}

.product__price {
  justify-content: space-between;
  align-items: center;
}

.price--discount {
  padding: 2px 5px;
  border-radius: 5px;
}

.price--original {
  text-decoration: line-through;
}

/* CHECKOUT SECTION */
.checkout {
  flex-wrap: wrap;
}

.checkout__amt {
  flex: 100%;
}

.checkout__btn {
  flex: 100%;
  justify-content: center;
  align-items: center;
  padding: calc(var(--sizer-1) * 0.5) var(--sizer-1);
  box-shadow: 0px 10px 25px var(--accent-semi-transparent);
}

.checkout__amtBtn {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--sizer-1) * 0.2) var(--sizer-1);
}

.amt {
  padding: calc(var(--sizer-1) * 0.5);
  height: var(--sizer-3);
  width: var(--sizer-3);
  place-items: center;
}

.amt[disabled] {
  cursor: not-allowed;
}

/*# sourceMappingURL=style.css.map */
