:root {
  --foreground: #FFFDFA; 
  --background: #979797;
  --bar-width:16px;
  --bar-height:3px;
  --hamburger-gap: 3px;
  --hamburger-margin: 27px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); 
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation-wrapper {
  display: flex;
  justify-content: flex-start;  
  z-index: 1000;
  @include respond(tab-port) {
    display: none;
  }
}



.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;  
  position: relative;
  z-index: 1001;  
  cursor: pointer;
 


}


.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}


.hamburger-menu::before,.hamburger-menu input,.hamburger-menu::after {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background);
  // border-radius: 9999px;
  transform-origin: left center;
  transition: 
  opacity var(--animation-timing), 
  width var(--animation-timing),
  rotate var(--animation-timing),
  translate var(--animation-timing),
  background-color  var(--animation-timing);
} 

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked {
  opacity: 0; 
  width: 0;
}

.sidebar {
  width: 100%;
  max-width: 25rem;
  position: fixed;
  top: 0;
  left: 0;
  height:  100vh;
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 0;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  opacity: 0;
  &__nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5.3rem 2.4rem;
    font-size:1.8rem;
    font-weight: bold;
    line-height: 24px;
    color: var(--text);
  }
  &__link {
    color: var(--background);
    list-style: none;
    text-decoration: none;
    transition: color var(--animation-timing);
    cursor: pointer; 
    &:hover {
      color: var(--yellow);
    }
  }
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
  opacity: 1;
}
.hamburger-menu:has(input:checked) ~ .container {
  padding-left: calc(10rem + var(--hamburger-margin));
}

.hamburger-menu:has(input:checked) ~ body::after,
body:has(.hamburger-menu input:checked)::after {
  opacity: 0.75;
  visibility: visible;
  pointer-events: all; /* Réactive les clics quand visible */
}

