:root {
  --base: 1rem;
  /* SPACING SIZES 1.26, 1.875, 2.25, 2.5. 2.8125*/
  --sizer-1: calc((var(--base) * 1.26));
  --sizer-2: calc((var(--base) * 1.875));
  --sizer-3: calc((var(--base) * 2.25));
  --sizer-4: calc((var(--base) * 2.5));
  --sizer-5: calc((var(--base) * 2.8125));
  /* FONT SIZES */
  --fs-1: calc((var(--base) * 0.8));
  --fs-2: ((--base));
  --fs-3: calc((var(--base) * 1.75));
  --fs-4: calc((var(--base) * 2.25));

  /* COLORS */
  --bkg: hsl(25, 100%, 99%);
  --accent: hsl(26, 100%, 55%);
  --accent-semi-transparent: hsl(26, 100%, 55%, 0.4);
  --accent-pale: hsl(25, 100%, 94%);
  --text: hsl(25, 100%, 3%);
  --text-opacity: hsl(25, 100%, 3%, 0.75);
  --alt-bkg: hsl(220, 13%, 13%);
  --alt-bkg1: hsl(219, 9%, 45%);
  --alt-bkg2: hsl(220, 14%, 75%);
  --alt-bkg3: hsl(223, 64%, 98%);

  /* MISC */
  --radius: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100dvh;
}
html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
