* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 100%;
  max-width: 111rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100dvh;
  height: 100%;
  &::after {
    content: '';
    position: fixed;
    inset: 0; /* Équivalent à top: 0; right: 0; bottom: 0; left: 0; */
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--animation-timing), visibility var(--animation-timing);
    z-index: 999; /* Juste en dessous de votre navigation qui est à 1000 */
    pointer-events: none; /* Permet de cliquer à travers quand invisible */
  }
}
html {
  height: 100%;
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

svg {
  pointer-events: none;
}
li {
  list-style: none;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
