/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)
  
  */
	@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


body {
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem;
  font-variation-settings:
    "YOPQ" 300;
}

