.header {
  width: 100%;
  display: flex;
  justify-content: space-between;  
  padding: 1.9rem 2.4rem; 
  
  
  @include respond(tab-port) {
    padding: 1.9rem 0;
    margin-bottom: 4.9rem; 
    border-bottom: 1px solid var(--alt-bkg2); 
  }

  
  &__grp {
    display: flex;
    align-items: center;
    gap:1.6rem;  
    
    & .header__title {
      cursor: pointer;
    }
  }
  &__cart__icon {
    position: relative;
    cursor: pointer;
    z-index: 7;
  }
  &__cart__grp {
      display: flex;
      align-items: center; 
      gap:2.2rem; 

      & > a {
        cursor: pointer;
      }
      
    
  }
  &__cart__avatar {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    
  }
}

// CART

.cart-container {
  max-width: 111rem;
  margin: 0 auto;
  position: fixed;
  inset: 0;
  z-index: 6;
  padding: calc(var(--sizer-1) * 0.5);
  display: flex;
  justify-content: end;
  align-items: start;
    
    &[disabled] {
      transform: translateY(-100%);
    }
    & .cart {
      background-color: var(--bkg);
      position: relative;      
      top: calc(var(--sizer-7) + var(--sizer-5));      
      box-shadow: 0px 10px 25px hsl(25, 100%, 3%, 0.25);
      width: 100%;
      border-radius: 10px;
      max-width: 356px;
      
      @include respond(tab-port) {
        left: 46px;
      }

      &__header {
        padding: var(--sizer-1);
        border-bottom: 1px solid var(--alt-bkg2);
      }
      &__body {
        padding: var(--sizer-4);
        place-items: center;
        &--content {        
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-description { 
              align-items: center;              
            }
            & > button {
              cursor: pointer;
            }
        }
        &--btn {
           padding: var(--sizer-1);
          width: 100%;
        }
      }
      &__img {
        width: calc(var(--sizer-5) * 1.2);
        height: calc(var(--sizer-5) * 1.2);
        object-fit: cover;
        border-radius: 5px;
      }
      &__description {
        // & .product--name {
        //   max-width: 17ch;
        //   text-overflow: ellipsis;
        //   overflow: hidden;
        //   white-space: nowrap;
        // }
        
        & .product--amt {
          gap: 5px;
        }
        
        & #total {
          margin-left: 10px;
        }
      }
    }
}
.cartIndicator {
  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding : 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    left: 16px;
    top: -12px;
  }
}


main {
  align-items: center;
  @include respond(tab-port) {
    display: flex;
    margin: 0 4.8rem;
    justify-content: space-between;
    gap: 12.5rem;
  }
 }
// SLIDER

.slider {
  max-width: 44.5rem;
  @include respond(phone){
    gap:3.2rem
  }

  &__container {
    overflow: hidden;
    position: relative;
    max-width: 44.5rem;
    width: 100%;
    &__btn {
      position: absolute;
      z-index:5;
      top: 50%;
      background-color: var(--bkg);
      height: var(--sizer-7);
      width: var(--sizer-7);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      display: grid
  ;
      place-items: center;
      transform: translateY(-50%);
      cursor: pointer;

      &--left{
        left: var(--sizer-2);
      }
      &--right{
        right: var(--sizer-2);
      }
    }
    & .sliderEl {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
      & .slide {
        display: flex;
        flex: 1;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

    }
  }
  &__thumbnails {
    display: none;
    gap:3.1rem;
    & img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      width: 88px;
      cursor: pointer;
    }
    
    @include respond(phone) {
      display: flex;
      align-items: start;
      max-width: 44.5rem;
    }
  }
}

// LIGHTBOX

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.hidden {
  display: none;
}

.lightbox__slider {
  max-width: 550px;
  position: relative;
}

.lightbox__close {
  position: absolute;
  top: -4rem;
  right: 0rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #69707D; 
  padding: 0.5rem; 
  transition: color 0.3s ease; 
 
}
.lightbox__close svg path {
  fill: #fff;
}
.lightbox__close:hover svg path {
  fill: var(--accent);
}

.lightbox__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lightbox__btn--left {
  left: -20px;
}

.lightbox__btn--right {
  right: -20px;
}

.lightbox__container {
  margin-bottom: 32px;
}

.lightbox__slide {
  width: 100%;
  border-radius: 15px;
}

.lightbox__thumbnails {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.lightbox__thumbnail {
  width: 88px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.lightbox__thumbnail:hover {
  opacity: 0.6;
}

.lightbox__thumbnail.active {
  border: 2px solid #ff7d1a;
  opacity: 0.6;
}

// PRODUCT

.product {
  padding: var(--sizer-4);
  margin-bottom: 8.8rem;
  max-width: 44.5rem;

  @include respond(tab-port) {
    padding: 6.2rem 0;
  }
  &__description {

    & > h1 {
      @include respond(tab-port) {
        font-size: 4.4rem;
        line-height: 48px;
        margin-bottom: 0.8rem;
      }
    }
  }
  
  &__price  {
    @include respond(tab-port) { 
      flex-direction: column;
      align-items: baseline;
      gap: 1rem;
      margin-bottom: 0.8rem;
    }
    justify-content: space-between;
    align-items: center;    
    &__discount {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 10px;
    }
    &__original { 
      text-decoration: line-through;
    }
  }
  &__checkout {
    @include respond(tab-port) { 
      flex-wrap: nowrap;
     }
    flex-wrap: wrap;
    &__amt {
      flex: 100%;
    }
    &__amtBtn {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 2.2rem 2.4rem;
      border-radius: 10px;
    }
    &__btn {
      display: flex;
      flex: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding: 1.9rem;
      box-shadow: 0px 10px 25px var(--accent-semi-transparent);
      z-index: 6;
      cursor: pointer;
    }
  }
}

.amt {
  height: var(--sizer-1);
  width: var(--sizer-1);
  &:hover {
    cursor: pointer;
  }
}

.amt[disabled] {
  cursor: not-allowed;
}


// TOAST


.toast-container {
  position: absolute;
  top: calc(var(--sizer-5) + var(--sizer-3));
  right: 0;
  z-index: 8;
  display: grid;
  gap: var(--sizer-1);
}

.toast {
  padding: calc(var(--sizer-1) * 0.4) var(--sizer-1);
  transition: transform 250ms cubic-bezier(0.88, -0.1, 0.24, 1.07);
  animation: toastIt 3000ms cubic-bezier(0.88, -0.1, 0.24, 1.07) forwards;
}

@keyframes toastIt {
  0%,
  100% {
    transform: translateY(-150%);
    opacity: 0;
  }
  20%,
  80% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  main {
    gap: var(--sizer-3);
  }
  .slide {
    border-radius: var(--radius);
    display: none;
  }

  .slide:first-of-type {
    display: block;
  }

  .btn {
    display: none;
  }
  .btn.visible {
    display: initial;
  }
  .thumbnails {
    display: flex;
    align-items: start;
  }
  .thumbnail {
    flex: 1 1 20%;
    max-width: initial;
  }
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    gap: var(--sizer-5);
  }

  .section--slider,
  .product {
    flex: 1 1 100%;
  }
}

.lightbox {
  @media (max-width: 900px) {
    display: none !important;
  }
}