.attribution {
  margin: 14.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--text);
  &__credit {
    font-weight: 800;
    color: var(--accent) !important;
  }
  & a {
    cursor: pointer;
  }
}
